html, body {
  width: 100px;
}

@font-face {
  font-family: Gotham;
  src: url(Gotham-Book.otf);
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4px;
}

#popup-content {
  font-family: Gotham;
  font-size: 0.9rem;
  color: white;
}

.campus {
  background-color: #57068c;
}

.campus:hover {
  background-color: #8900e1;
}

.reset{
  background-color: #330662;
}

.reset:hover {
  background-color: #220337;
}
